@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* background-color: #e6e6e6; */
}

::-webkit-scrollbar-thumb {
  background-color: #aae4f9;
  border-radius: 999px;
}

/* style color for DataPicker */

.react-datepicker__header {
  background-color: rgba(92, 198, 238, 0.3) !important;
}

.react-datepicker__day--selected {
  background-color: rgb(92, 198, 238) !important;
}

/* style for radio button */
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
